/* BODY (APPLY TO ALL) */

body {
  margin: 0;
}

/* HEADER SECTION */
.heading-container {
  padding-top: 18rem;
  position: relative;
  width: 100%;
  height: 800px;
  background: url("./../images/background.jpg") no-repeat;
  background-size: cover;
  text-align: center;
}

.title-container {
  width: 600px;
  height: 250px;
  margin: auto;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
  opacity: 70%;
  background-color: #EEEEEE;
  border: 3px solid #000000;
}

.name {
  margin-top: 50px;
  position: absolute;
  font-size: 65px;
  color: #000000;
}

.job {
  margin-top: 140px;
  position: absolute;
  font-size: 40px;
  color: #000000;
}

/* Animation for the name */
#text {
  height: 80px;
  white-space: nowrap;
  overflow: hidden; 
}

#type {
  border-bottom: solid 5px #000000;
  position: absolute;
  right: 80px;
  width: 30px;
}

#text {
  animation: animated-text 1s steps(50,end) 1s 1 normal both
}

#type {
   animation: animated-cursor 500ms steps(50,end) infinite;
}

@keyframes animated-text{
  from{width: 0px;}
  to{width: 200px;
  margin-left: 200px;}
}

@keyframes animated-cursor{
  from{border-bottom-color: #000000;}
  to{border-bottom-color: #EEEEEE;}
}
/* End animation */

/* Animation for the title */
#text2 {
  height: 60px;
  white-space: nowrap;
  overflow: hidden; 
  position: relative;
}

#type2 {
  border-bottom: solid 5px #000000;
  position: absolute;
  right: 40px;
  width: 30px;
}

#text2 {
  animation: animated-text 1s steps(50,end) 1s 1 normal both
}

#type2 {
   animation: animated-cursor 500ms steps(50,end) infinite;
}

@keyframes animated-text{
  from{width: 0px;}
  to{width: 500px;
  margin-left: 30px;}
}

@keyframes animated-cursor{
  from{border-bottom-color: #000000;}
  to{border-bottom-color: #EEEEEE;}
}
/* End animation */
/* END HEADER SECTION */

/* SECTION BAR */
.section-bar {
  padding-top: 1rem;
  height: 80px;
  position: relative;
  background: #000000;
  box-shadow: 0 3px 3px 0 rgb(1 2 2 / 5%);
  text-align: center;
}

.title-bar {
  text-align: center;
  text-transform: uppercase;
  color: #eeeeee;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 3px;
}
/* END SECTION BAR */

/* ABOUT SECTION */
.about-section {
  position: relative;
  width: 100%;
  background-color: #b2bec3;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-box-about {
  margin: auto;
  border-radius: 30px;
  border: 0px none;
  background-color: #EEEEEE;
  height: 500px;
  width: 400px;
  padding: 30px 20px 30px;
  border: #000000 solid;
}

#my-avatar {
  width: 150px;
  height: 150px;
  background-image: url("../images/thinh.jpeg");
  background-size: cover;
  border-radius: 100%;
  margin: auto auto 30px auto;
  border: 3px solid #000000;
}

.content-about {
  text-align: justify;
  color: #000000;
  font-weight: bold;
}
/* END ABOUT SECTION */

/* WORK SECTION */
.work-section {
  position: relative;
  width: 100%;
  background-color: #b2bec3;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-box-work {
  display: flex;
  margin: auto;
  border-radius: 30px;
  border: 0px none;
  background-color: #EEEEEE;
  height: 17rem;
  width: 80%;
  padding: 30px 20px;
  border: #000000 solid;
}

#accredo {
  width: 320px;
  height: 100px;
  float: left;
  margin-top: 30px;
  margin-right: 30px;
  background-size: cover;
  border: 3px solid #000000;
  background-image: url("../images/accredo.png");
  background-color: #000000;
}

.content-work {
  float: right;
  text-align: left;
  color: #000000;
  font-weight: bold;
  margin-right: 30px;
  margin-bottom: 10px;
}
/* END WORK SECTION */

/* EDUCATION SECTION */
.education-section {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background-color: #b2bec3;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-box-edu {
  margin: auto;
  border-radius: 30px;
  border: 0px none;
  background-color: #EEEEEE;
  height: 500px;
  width: 400px;
  border: #000000 solid;
}

.content-edu {
  text-align: center;
  color: #000000;
  font-weight: bold;
}

#sanjac {
  background-image: url("../images/sanjac.png");
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 100%;
  margin: 30px auto 30px auto;
  border: 3px solid #000000;
}

#uhcl {
  background-image: url("../images/uhcl.png");
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 100%;
  margin: 30px auto 30px auto;
  border: 3px solid #000000;
}

#uit {
  background-image: url("../images/uit.jpeg");
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 100%;
  margin: 30px auto 30px auto;
  border: 3px solid #000000;
}
/* END EDUCATION SECTION */

/* SKILLS SECTION */
.skills-section {
  position: relative;
  width: 100%;
  background-color: #b2bec3;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* END SKILLS SECTION */